<%- include('../includes/head') %>
</head>
<body>
  <header class="header">
  </header>
  <%- include('../includes/navigation') %>
  
  <div class="default-margin">
    <p><strong>User CPF:</strong> <%= infoGame.cpfUser %></p>
    <p><strong>Rented At:</strong> <%= infoGame.game.rentalDate %></p>
    <p><strong>Days Quantity:</strong> <%= infoGame.game.daysQnt %></p>
  </div>
</body>
</html>